/* color scheme sourced from https://coolors.co/ */
:root {
  --fairy-tale: #FECEE9;
  --plum: #EB9FEF;
  --ultra-violet: #545677;
  --aquamarine: #47E5BC;
  --tiffany-blue: #81E4DA;
}

::selection {
  background-color: var(--ultra-violet);
  color: var(--aquamarine);
}

body {
  /* I dont have fonts off the top of my head, I did take this from HW01 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  font-size: 1rem;   /* my base font size is now set to 100% of the root element size */
  line-height: 150%;
  color: var(--aquamarine);
  background-color: var(--ultra-violet);
}