/* color scheme sourced from https://coolors.co/ */
:root {
  --smoky-black: #070600;
  --plum: #EB9FEF;
  --ultra-violet: #545677;
  --aquamarine: #47E5BC;
  --celestial-blue: #279AF1;
}

::selection {
  background-color: var(--ultra-violet);
  color: var(--aquamarine);
}

body {
  /* I dont have fonts off the top of my head, I did take this from HW01 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  font-size: 1rem;   /* my base font size is now set to 100% of the root element size */
  line-height: 150%;
  color: var(--aquamarine);
  background-color: var(--ultra-violet);
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
  margin: 0;
  background-image: url(../Images/Digital-Box-unsplash.jpg);
  background-position: 0 700px;
}


.profil-pic {
  display: flex;
  flex-direction: column;
}


.nav {
  display: flex;
  margin-right: 500px;
}


.belphamon-img {
  display: flex;
  flex-direction: row;
  z-index: 1;

}

h2 {
  display: flex;
  padding: 10px;
  text-align: center;

}

.about-me {
  display: flex;
  border: inset;
    border-top-color: aquamarine;
    border-bottom-color: var(--celestial-blue);
    border-left-color: aquamarine;
    border-right-color: var(--celestial-blue);
}



.column-box {
  display: flex;
  flex-direction: row;
  z-index: 1;
  border: inset;
    border-top-color: aquamarine;
    border-bottom-color: var(--celestial-blue);
    border-left-color: aquamarine;
    border-right-color: var(--celestial-blue);
  .linear-gradient-background {
    background-image: linear-gradient(
       #a838ac00 100%
      var(--smoky-black) 0%)};
}


.gen-code-img {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
  z-index: -1;

}

.gunpla-img {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
}

.rps-img {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
}

.tile-body {
  display: block;
  float: left;
  width: 31%;
  height: 200px;
  margin: 1%;
  border-radius: 8px;
}

.link {
  font-size: 30px;
}




.My-Contact-Info {
  margin: 1.5rem;
  text-align: center;
}



/*Media Queries*/
@media screen and (max-width: 992px) {
  header {
    width: 100%;
  }


}